<h1 class="headline">Number of players Online <span class="badge bg-secondary">23</span></h1>

<h1 class="headline">Time <span class="badge timer bg-secondary">11</span></h1>

<div class="container-fluid text-center Data">
    <div class="row value">

        <div class="col">
            Red <span class="badge bg-warning">23</span>
        </div>
        <div class="col ">
            Black <span class="badge bg-warning">23</span>
        </div>
    </div>
    <div class="row value">
        <div class="col">
            Bet on 1<span class="badge bg-warning">23</span>
        </div>
        <div class="col">
            Bet on 2<span class="badge bg-warning">23</span>
        </div>
        <div class="col">
            Bet on 3<span class="badge bg-warning">23</span>
        </div>
    </div>
    <div class="row value">
        <div class="col">
            Bet on 4<span class="badge bg-warning">23</span>
        </div>
        <div class="col">
            Bet on 5<span class="badge bg-warning">23</span>
        </div>
        <div class="col">
            Bet on 6<span class="badge bg-warning">23</span>
        </div>
    </div>
</div>

<div class="row  ">
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
            <li><a class="dropdown-item" href="#">4</a></li>
            <li><a class="dropdown-item" href="#">5</a></li>
            <li><a class="dropdown-item" href="#">6</a></li>
        </ul>
    </div> -->

    <div class="dataTables_length" id="tabler_length"><label>Show <select
        name="tabler_length" aria-controls="tabler" class="form-control
        input-sm">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    entries</label></div>
    
    
</div>
<!-- 
echo "# dicegame" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Vaibhavnanne18/dicegame.git
git push -u origin main -->