.home{
    margin-top: -2.5vh;
}
html,
body {
    margin-top: 10px;
    height: 100%;
    overflow: hidden;
    background-color: wheat;
}
.leftside{
      height: 45vw;
}
.rightside
{
    height: 45vw;
}