.home{
    margin-top: -2.5vh;
}

.leftside{
    // background-image: url("https://t4.ftcdn.net/jpg/01/94/95/17/240_F_194951714_pFGy4JJRRJ20KruITyAAQmJCXzppgWlM.jpg")  ;
     height: 45vw;
}
.rightside
{
    height: 45vw;
}